.form-group {
  width: 100%;
}

input#file {
  width: calc(100% - 60px);
  max-width: 500px;
  background: #ffffff;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  border: 1px solid #e2e2e2;
  padding: 0 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.form-group button {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  background-color: #4285f4;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.form-group button:hover {
  opacity: .75;
}
.form-group button:active {
  opacity: 1;
}

