#header {
  position: relative;
}
h2 {
  display: block;
  width: 100px;
  padding-left: 20px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: relative;
  display: block;
  margin-left: 120px;
  height: 64px;
  line-height: 64px;
}

nav > a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 0 1rem;
}

nav > a:hover {
  background-color: #35393e;
}

.login-user {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #ffffff;
}

.login-user > span {
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}

.login-user > span.logout-btn:hover {
  background-color: #35393e;
}
