<div id="login-container">
  <div class="w" id="login-box">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form" novalidate>
      <input type="text" name="name" placeholder="用户名" autocomplete="off" ngModel #name="ngModel" required>
      <input type="password" name="password" placeholder="密码" autocomplete="off" ngModel #password="ngModel" required>
      <div class="password-complex" [ngStyle]="{width:genComplex(password.value)}"></div>
      <button class="login-btn">{{this.pageStatus.buttonText}}</button>
      <a class="account-notice" (click)="changPage()">{{this.pageStatus.accountNotice}}</a>
    </form>
  </div>
</div>
