.movie-section {
  background: rgba(200, 200, 200, 0.15);
  transition: .1s;
  transition-timing-function: ease-in;
  color: #ffffff;
  margin-top: -64px;
  padding-top: 64px;
}

h2 {
  margin-bottom: 1rem;
}

.movie-info {
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

.info-left {
  overflow: hidden;
}

.info-poster {
  width: 135px;
  overflow: hidden;
  float: left;
}

.info-poster img {
  width: 135px;
}

.info-base {
  margin-left: 150px;
  font-size: 13px;
  line-height: 22px;
}

.info-base span {
  color: rgba(255,255,255,.7);
}

.douban-link {
  text-align: center;
}

.douban-link > div {
  display: inline-block;
  vertical-align: middle;
}

.douban-logo {
  width: 16px;
  height: 16px;
  font-size: 12px;
  background: #4f946e;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  margin-right: 5px;
}

.douban-logo a {
  color: #fff;
}

.rating {
  font-family: cursive, monospace;
  position: relative;
  font-size: 14px;
}

.rating .rating-text {
  margin-left: 5px;
  color: #e09015;
  font-family: Arial, Helvetica, sans-serif;
}

.rating .rating-bot {
  color: rgba(255,255,255,.7);
}

.rating .rating-top {
  color: #e09015;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/**
  字幕
 */
.subtitle-list {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 13px;
}

.sub-title {
  font-size: 13px;
}

.sub-item {
  padding: 5px 10px;
  position: relative;
  background: #f2f2f2;
  margin-bottom: 2px;
}

.sub-item:hover {
  background: rgba(66, 133, 244, .2) ;
}

.lang-item, .se-info {
  font-size: 12px;
  padding: 2px 4px;
  background: #444444;
  color: #ffffff;
  margin-right: 6px;
  border-radius: 4px;
}

.lang-9 {
  background: rgba(66, 133, 244, 1);
}

.lang-8 {
  background: rgb(84, 204, 249);
}

.lang-7 {
  background: rgb(243, 107, 185);
}

a.download-btn  {
  display: inline-block;
  font-size: 13px;
  color: #eee;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 5px;
}

a.download-btn:hover svg{
  fill: rgba(66, 133, 244, .8);
}
a.download-btn:active svg {
  fill: rgba(66, 133, 244, .9);
}

a.download-btn svg {
  fill: #eee;
}

.sub-item:hover svg {
  fill: #ffffff;
}
