.search-form {
  width:500px;
  height: 36px;
  margin: 0 auto;
  border: 1px solid #1A73E8;
  border-width: 1px 0 1px 1px;
  font-size: 14px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.search-form input {
  width: calc(100% - 60px);
  padding-left: 10px;
  height: 100%;
  float: left;
  line-height: 36px;
}

.search-form button{
  width: 50px;
  height: 100%;
  background: #1A73E8;
  color:#fff;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 36px;
}
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  overflow: hidden;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}

ul.search-result {
  margin-left: -1px;
  position: absolute;
  top: 38px;
  width: calc(100% + 1px);
}
