#wrapper {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

#content {
  padding-bottom: 56px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  background-color: #333;
  color: #ffffff;
  margin-top: 2rem;
}
