<ul class="movies w">
  <li *ngFor="let movie of movies" class="top-item">
    <a routerLink="/movie/{{movie.id}}" title="{{movie.title}}" class="top-img">
      <img src="./assets/poster/{{utils.idPath(movie.id,movie.imgId)}}/{{movie.imgId}}.webp"  (error)="this.utils.imageReload($event)">
    </a>
    <a routerLink="/movie/{{movie.id}}" class="top-title">
      {{movie.title.substr(0, 16)}} <span class="top-rating" *ngIf="movie.rating">{{movie.rating / 100 | number: '1.1-1'}}</span>
    </a>
  </li>
</ul>
