<div class="subtitle-detail">
  <div class="movie-section">
    <div *ngIf="movie && subtitle" class="w movie-info">
      <h2 >{{subtitle.title}}</h2>
      <div class="info-left">
        <div class="info-poster">
          <img src="./assets/poster/{{utils.idPath(movie.id,movie.imgId)}}/{{movie.imgId}}.webp"
               onerror="this.src='./assets/poster/default/movie_default_small.webp'"
               (load)="setMainColor()"
          >
          <a title="去豆瓣查看" href="https://movie.douban.com/subject/{{movie.id}}/" target="_blank" class="douban-link">
            <div class="douban-logo">豆</div>
            <div class="rating">
              <span class="rating-bot">★★★★★</span>
              <span class="rating-top" [ngStyle]="{'width.em': (movie.rating / 200) || 0}">★★★★★</span>
              <span class="rating-text" *ngIf="movie.rating">{{movie.rating / 100 | number: '1.1-1'}}</span>
            </div>
          </a>
        </div>
        <div class="info-base">

          <h3>{{movie.title}} <span
            *ngIf="movie.originalTitle != movie.title">{{movie.originalTitle}}</span> <span
            *ngIf="movie.year"> ({{movie.year}})</span></h3>

          <div *ngIf="movie.genres"><span>类别：</span>{{movie.genres}}</div>
          <div *ngIf="movie.directors"><span>导演：</span>{{movie.directors}}</div>
          <div *ngIf="movie.countries"><span>地区：</span>{{movie.countries}}</div>
          <div *ngIf="movie.casts"><span>演员：</span>{{movie.casts}}</div>
          <div *ngIf="movie.aka"><span>别名：</span>{{movie.aka}}</div>
          <div *ngIf="movie.summary"><span>简介：</span>{{movie.summary}}</div>
        </div>

      </div>
      <div class="info-rt">

      </div>

    </div>
  </div>
</div>
