/* You can add global styles to this file, and also import other style files */

body {
  font: 1em/150% Arial, Helvetica, sans-serif;
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

ul {
  list-style-type: none;
}

a {
  color: #669;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font: bold 36px/100% Arial, Helvetica, sans-serif;
}

input, button {
  text-decoration: none;
  outline: none;
  border: none;
}
.w {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
app-header {
  display: block;
  width: 100%;
  height: 64px;
  position: relative;
  background-color: #24292e;
  margin-bottom: 1rem;
  z-index: 2;
  opacity: .8;
}

app-search-bar {
  display: block;
  height: 67vw;
  max-height: 100vh;
  width: calc(100vw - (100vw - 100%));
  position: relative;
  margin-top: calc(-64px - 1rem);
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  background: #eee url('./assets/images/01.jpg') center fixed;
  background-size: cover;
}
#header {
}

#message{
  margin-top: 2rem;
  background-color: #ccc;
}

#footer {
  clear: both;
  background-color: #607D8B;
  margin-top: 2rem;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {


}

/* for 700px or less */
@media screen and (max-width: 700px) {


}

/* for 480px or less */
@media screen and (max-width: 480px) {

  #header {
    height: auto;
  }

  h1 {
    font-size: 24px;
  }
}
