/* Structure */
.user-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
